<!--templates/home.html-->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title mb-0">Welcome to CommuDev</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h5 class="card-title">Feedback</h5>
                                    <p class="card-text">View and manage user feedback.</p>
                                    <a href="{% url 'feedback-list' %}" class="btn btn-primary">View Feedback</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h5 class="card-title">Rewards</h5>
                                    <p class="card-text">Manage and track rewards for users.</p>
                                    <a href="{% url 'reward-list' %}" class="btn btn-primary">View Rewards</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}